<ion-view view-title="About Me">
    <ion-content style="background: url(img/bg2.jpg) center; background-size: cover;">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Who Am I..........</strong>
        </div>
		<br>
		<div>
			<center>
			<img src="img/avatar.png" style="background-repeat: no-repeat;
				background-position: 50%;
				border-radius: 50%;
				width: 150px;
				height: 150px;">

			<!--<style>
			 img {
				background-position: 50%;
				border-radius: 50%;
				width: 150px;
				height: 150px;}
			</style>-->
			</center>
		</div>	<br>
		
		<div class="w3-container">
		<font color="black" face="georgia">I'm Kailash. I'm from Virudhunagar. There's nothing much to talk about me except for the fact that I'm interested in all things software... I've been fascinated by Android from quite a while ago and this was the reason I actually joined this camp. I aspire to pursue a career in the IT field.</font>
		<center>
		<a href="#/app/more" class="button button-outline button-assertive">View More >></a></center>
		</div>
		

    </ion-content>
</ion-view>
