<ion-view view-title="Contact Details">
    <ion-content class="im-wrapper">
        <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.png">
                    <h2><b>Address</b></h2>
                    <div class="item item-text-wrap">12/1, Nethaji Road, Virudhunagar - 626001</div>
                </a>
                <a class="item item-avatar" href="tel:+919988776655">
                    <img src="img/mobile.jpg">
                    <h2><b>Ring Me</b></h2>
                    <div class="item item-text-wrap">Nope</div>
                </a>
               	<a class="item item-avatar" href="mailto:kailash.sudhakar@gmail.com">
                    <img src="img/mail.png">
                    <h2><b>Mail Me (I don't read it :P)</b></h2>
                    <div class="item item-text-wrap">kailash.sudhakar@gmail.com</div>
                </a>
		<a class="item item-avatar" href="#" onclick="window.open('https://www.facebook.com', '_system', 'location=yes'); return false;">
                    <img src="img/fb.png">
                    <h2><b>Facebook</b></h2>
                    <div class="item item-text-wrap">Nope</div>
                </a>
		<a class="item item-avatar" href="#" onclick="window.open('https://twitter.com/dem0nicbl00d', '_system', 'location=yes'); return false;">
                    <img src="img/twit.png">
                    <h2><b>Twitter</b></h2>
                    
                </a>
                 <a class="item item-avatar" href="#" onclick="window.open('https://github.com/dem0nicbl00d', '_system', 'location=yes'); return false;">
                    <img src="img/git.jpg">
                    <h2><b>Github</b></h2>
                    
                </a>
                </div>
    </ion-content>
</ion-view>
