<ion-view view-title="TimeLine">
    <ion-content>
	<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Each Moments of my Life.......</strong>
    </div>
     <div class="list">
					<a class="item item-thumbnail-left">
						<img src="img/baby.png">
						<h2><b>I was born</b></h2>
						<div class="item item-text-wrap">I was born in Virudhunagar,<b>10th April 1999.</b></div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/highsch.png">
						<h2><b>Schooling</b></h2>
						<div class="item item-text-wrap"><b>K.V.S. Mat. HSS</b><br><b>I don't remember - April 2016</b><br>I've always been aware of the fact that marks don't mean anything in the real world (except for college admissions ;-;) and hence haven't tried very hard for them :P</div>
					</a>
					<a class="item item-thumbnail-left">
						<img src="img/clg.png">
						<h2><b>???</b></h2>
					</a>
		</div>   
    </ion-content>
</ion-view>
